@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

body {
  background: hsl(27, 66%, 92%);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
